@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px ;
}

/* total width */
*::-webkit-scrollbar {
    background-color: #fff;
    width: 0px;
    height: 0px;
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 2px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
    display:none;
}

input {
    border: 1px solid #ddd;
    padding: 0 5px;
    width: 100%;
    height: 30px;
    outline: none;
    box-sizing: border-box;
}

input::placeholder {
    font-weight: 300;
}

.inner {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

/*
* LOGIN & SIGNUP
*/ 
.wrapper-login {
    display: flex;    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: -webkit-fill-available;
    z-index: 99;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    background-color: #fff;
}

.box:nth-child(2){
    background-color: rgb(241, 241, 245);
}

.box form {
    width: 300px;
}

.box form h3 {
    font-size: 22px;
    font-weight: 400;
}

.box form h6 {
    font-size: 14px;
    font-weight: 300;
    color: #999;
    letter-spacing: 1px;
    margin-top: 10px;
}

.box form dl {
    margin-top: 30px;
}

.box form dt {
    font-weight: 300;
    color: #240f2e;
}

.box form dd {
    margin: 5px 0 15px;
}

.box form dd.file {
    display: flex;
    align-items: center;
    line-height: 24px;
}


.box form dd label {
    font-size: 12px;
    color: #999;
}

.box form dd label span{
    display: inline-block;
    height: 25px;
    line-height: 27px;
    background-color: #ddd;
    color: #333;
    padding: 0 15px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 5px;
}

.box form dd input[type='file'] {
    display: none;
}

.box form button {
    width: 100%;
    line-height: 40px;
    border-radius: 2px;
    margin-top: 20px;
}

.box .tag-create_account {
    color: #999;
    margin-top: 20px;
}

.box .tag-create_account a {
    color: #7A4495;
    margin-left: 10px;
}

.box .circle {
    display: inline-block;
    background-color: #7A4495;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.box .blur {
    backdrop-filter: blur(20px);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;  
}

/*
* ALERT :: ERROR
*/
.error {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 241, 245);
}

.error img {
    width: 200px;
}

.error h3 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 400;
    color: #E84545;
}

.error p {
    margin-top: 10px;
    font-size: 14px;
}

.error .links {
    margin-top: 10px;
    color: #999;
    font-weight: 300;
}

.error .links a {
    margin-left: 10px;
    color: #7A4495;
}

/*
* VERIFY
*/
.wrapper-email {
    display: flex;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
}

.box-confirm {
    display: flex;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(241, 241, 245);
    position: fixed;
    top: 0;
    left: 0;
}

.box-confirm img {
    width: 120px;
}

.box-confirm h3 {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #333;
}

.box-confirm p {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}

.box-confirm a {
    background-color: #7A4495;
    color: #fff;
    line-height: 35px;
    margin-top: 20px;
    padding: 0 50px;
    text-decoration: none;
}

/*
* main
*/
.wrapper-memo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: -webkit-fill-available;
    padding: 50px;
    background-color: rgb(248, 251, 255);
}
.option-menus {
    position: absolute;
    top: 10px;
    right: 50px;
    z-index: 9;    
}
.option-menus button {
    margin-left: 5px;
}
.box-memos {
    overflow-y: scroll;
    height: calc(100% - 100px);
}
.box-memos.has-group {
    height: calc(100% - 150px);
}
.box-memos.is-viewer {
    height: calc(100% - 120px);
}

.wrapper-memo-grid {
    display: grid;
    grid-template-rows: repeat(3, minmax(200px, auto));
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
    position: fixed;
    top: 51px;
    left: 0;
    width: 100%;
    min-height: calc(100% - 51px);
    padding: 50px;
    background-color: rgb(248, 251, 255);
    box-sizing: border-box;
}

.wrapper-memo-grid > div {
    width: 100%;
    height: 220px;
}

.wrapper-memo-grid > div > div {
    overflow: scroll;
    height: -webkit-fill-available;
}


@media screen and (min-width: 1024px) {
    #root, .wrapper-memo, .wrapper-memo-grid {
        min-width: 1440px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper-memo-grid {
        position: absolute;
        top: 0;
        padding: 50px 10px 10px;
        grid-template-columns: 1fr 1fr;
    }

    .option-menus {
        right: 10px;
    }
}